/*body {

    margin-left:auto;
    margin-right:auto;
    margin-top:0;
	padding:0;
	height:100%;
	padding-bottom:0;
	background-color:#FFFFFF;
	color: Silver;
	font-family: Arial, Helvetica, sans-serif;
	font: Garamond;
	font-size:10pt;   
    width:99%; 
}*/

body 
{
	margin:0;
	padding:0;
	height:100%;
	padding-bottom:0;
	background-color:#FFFFFF;
	color: Silver;
	font-family: Arial, Helvetica, sans-serif;
	font: Garamond;
	font-size:11pt;
}

#container 
{
	height:83%;
	width:99%;
	position:fixed;
    float:none;
}

/******************************************************** Header Section ************************************************/

#header {
	width: 100%;
	height: 70px;
	margin: 0;
	color: WHITE;
	background-color: transparent;
}

#header .title {
	font: 150% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: #D42E12;
	float: left;
	margin-top: 0.7em;
	margin-left: 4.0em;
	font-weight:bold;
	width:400px;
}


#header .message 
{
	font: 80% "Times New Roman", Helvetica, Georgia, Arial, Times, serif;
	font-weight:bold;
	color:Red;
	background-color:transparent;
	float: left;
	margin-right: 2em;
	margin-top: 0.4em;
	margin-left: 25.0em;
}

#header .breadcrumb {
	color: #003366;
	background-color: transparent;
	float: right;
	margin-right: 1em;
	margin-top: 0.7em;
	font-weight:normal;
    font-style: normal;
    font-variant: normal;
    font-size: 85%;
    line-height: normal;
    font-family: Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
    text-align:right;
}


/******************************************************** Navigation Section ************************************************/

#navigation {
	top: 6em;
	float:left;
	border:solid 1px gray;
	width:100%;
}

#navigation .firstChild {
	float:left;
	border-right:solid 1px gray;
}

#navigation .child {
	float:right;
	width:350px; 
}

#navigation1 {
	top: 6em;
	float: left;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-top: solid 1px gray;
	background-color: #39e90e;
	width: 100%;
	height: 25px;
	/*background: url('../images/bg_p1.gif') repeat-x left top;*/
}

#navigation2 {
	top: 6em;
	float:left;
    border-left:solid 1px gray;
    border-right:solid 1px gray;
    border-bottom:solid 1px gray;
	background-color:#D42E12;
	width:100%;
	height:7px;
}

#navigation3 
{
    margin-top:0.1em;
	top: 6em;
	float:left;
    border:solid 1px gray;
    background-color:#F5F5F5;
	width:100%;
	height:22px;
}

#navigation3 .xFChild
{
    float:left;
    vertical-align:middle;
	width:650px; 
	color:#003366;
	font-size:11pt
}

#navigation3 .xChild
{
    float:right;
	width:44px; 
	font-size:12px;
}

.col1 { 
    float: left;
    width: 270px;
}
.col2 { 
    float: left;
    margin-left:0.5em;
    border: 1px solid gray;
    width: 97%;
}
.col3 { 
    background-color: #ddf; 
    float: right;
    width: 180px;
}

/*#master_content
{
    margin-top:0.2em;
    float:left;
	width: 100%;
	font-size: 100%;
    height:90%;
    overflow:auto;
    border-bottom: 1px solid gray;
}*/

#master_content
{
    margin-top:0.2em;
    float:left;
	width: 99%;
	height:90%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	margin-left:5px;
}

#master_content .master_contentplaceholder
{
	line-height: 1.5em;
	height:100%;
	overflow:auto;
	width: 80%;
	float:left;
	margin-left:0.5em;
	border: 1px solid gray;
}

#master_content .master_contentplaceholder_SideMenu
{
	line-height: 1.5em;
	overflow:auto;
	width: 19%;
	float:left;
	height:100%;
    border: 1px solid gray;
}



/*master_content
{
	width: 90%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    margin:     0.5em 5em 3em 5em; /* Top Right Bottom Left 
}*/


/********** Styles for Left Sidebar **********/

#sidebar {			/* Warning: not printed out on paper */
   width:           18em;
   /*border-right:    1px solid #999999;
       background-color:#F0F0F0;*/
   float:           left;
   clear:           both;
   margin:     0.5em 0em 8em 0em; /* Top Right Bottom Left */
}

#sidebar div {
   font-size:       95%;
   margin:          0;
   /*padding:         0.25em 0.25em;*/
}

#sidebar div.lighter {
   color:           inherit;
   background:      white;
}

#sidebar p {
   margin:          0.5em 0;
}

#sidebar .title a:link,
#sidebar .title a:visited {
   color:           black;
   background:      transparent;
}

#sidebar ul {
   list-style:      none outside;
   margin:          0.5em 0;
   padding:         0;
}

#sidebar ul li {
   margin:          0;
   padding:         0.125em 0;
}

#sidebar ul li.highlight {
   color:           inherit;
   background:      white;
   margin-left:     -1em;
   margin-right:    -1em;
   padding-left:    1em;
   border-top:      1px solid #999999;
   border-bottom:   1px solid #999999;
}

#sidebar ul li.highlight a:link,
#sidebar ul li.highlight a:visited {
   color:           black;
   background:      transparent;
}


/********** Styles for Main Content **********/

#main {
   text-align:      justify;
   line-height:     1.5;
   color:           black;
   background:      white;
   margin:          2.8em 0em 8em 18em; /* Top Right Bottom Left */
   padding:         0.1em 1.0em 0.5em 1em;/* Top Right Bottom Left */
   /*border-left:     1px solid #999999;*/
}

#main h1 {			/* Should be used once, following navhead */
   color:           #999999;
   background:      transparent;
   margin:          0 0 0.5em 0;
}

#main .highlight {		/* Highlight box (for warnings, etc) */
   color:           inherit;
   background:      #F0F0F0;
   margin:          1em 0;
   padding:         1em 2.5em;
   border:          1px solid #999999;
}

#main .totop {			/* For "Top ^" lines in FAQs, etc */
   font-size:       90%;
   text-align:      right;
   margin:          -0.75em 0 1em 0;
   padding:         0 0 0.25em 0;
   border-bottom:   1px solid #F0F0F0;
}

#main table.simple td.highlight,  /* Else "#main .highlight" will override */
#main table.simple th.highlight {
   margin:          0;
   padding:         0.25em 0.5em;
}


/* Other styles related to the main content */

#mainlink {			/* "Skip to main content" link */
   display:         none !important;
}

#navhead {			/* "Path to this page" information */
				/* Warning: not printed out on paper */
   font-size:       90%;
}

#navhead hr {
   display:         none;
}

#endmain {
   visibility:      hidden;
   clear:           both;	/* Doesn't always work under IE/Win */
}



#mainBI500 {
   text-align:      justify;
   line-height:     1.5;
   color:           black;
   background:      white;
   margin:          2.8em 0.5em 8em 0.5em; /* Top Right Bottom Left */
   padding:         0.1em 1.0em 0.5em 1em;/* Top Right Bottom Left */
   /*border-left:     1px solid #999999;*/
}

#floating.fixed{
    position:fixed;
    top:0;
}



/************************************************************ Footer Section ************************************************************/

#footer 
{
    position:fixed;
	width:100%;
	height:30px;
	bottom:0px;
	color:Black;
	margin-bottom:0px;
	border-top: 1px solid silver;
	border-bottom: 1px dotted silver;
	background: url('../images/p_SilverBg.png') left top;
	float:left;
	font-size:small;
	vertical-align:middle;
    left: 0px;
}
		
#footer p 
{
		margin:0;
		padding:10px;
}
	

/************************************************************ Data Web Control ************************************************************/

.DataWebControlStyle
{
    font-size: 100%;
    line-height:1.125em;
}

a:link, a:visited  {
	color: #003366;
}

.HeaderStyle
{
    font-weight:normal;
    text-align:center;
    font-size:9px;
}

.AlternatingRowStyle
{
    background-color: #FFFFFF; 
    color:black;
    vertical-align:middle;
    /*font-size:12px;*/
}

.RowStyle
{
    background-color:#FFFF99; 
    color:black;
    vertical-align:middle;
    /*font-size:12px;*/
}

.SelectedRowStyle
{
	background-color:Yellow;
}

.EditRowStyle
{
	background-color:Yellow;
}

.PagerRowStyle
{
    background: url('../images/hdrbg_p3.gif') repeat-x;
	text-align:left;
}

.gRepeatItemPlate
{
	font-size: 9px;
	background: #F5F5F5;
	color: #000000;
	font-family: Verdana;
	vertical-align: middle;
	text-align: left;
}
.gRepeatAlterPlate
{
	font-size: 9px;
	background:#FFFFFF;
	color: #343434;
	font-family: Verdana;
	text-align: left;
}


/********************************************************   Tables CSS  *************************************************************/
  table  
  {
	border-collapse:collapse;
	color: black;
  }

  table td
        {
			vertical-align:top;
			text-align:left;
            border:0px;
            font-size:10pt;
			/*margin-left: 80px;	*/
        }  


.tMainBorder
{
    border:solid 1px silver;
	padding: 0px;
	background-color :#FFFFFF;
    margin :3px;
	width: 565px;
	font: 95%  Arial, Verdana,Helvetica, Georgia, "Times New Roman", Times, serif;
}

.tMainBorder td
{
	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;
    margin-left: 80px;
	vertical-align:top;
	text-align:left;
}  


/******************************************************** New CSS Findings ********************************************************/

.cPageTile{
	vertical-align:middle;
    font-size: 12px;
	font-weight: bold;
	font-family:Arial;
	color:White;
	background: url('../images/p_tileHeader.gif') repeat-x;
}
.cPageTileLeft{
	vertical-align:middle;
	text-align:left;
    font-size: 12px;
	font-weight: bold;
	font-family:Arial;
	color:White;
	background: url('../images/p_tileHeader.gif') repeat-x;
}
.cPageTileRite{
	vertical-align:middle;
	text-align:right;
    font-size: 12px;
	font-weight: bold;
	font-family:Arial;
	color:White;
	background: url('../images/p_tileHeader.gif') repeat-x;
}
.cHeadTile{
	vertical-align:middle;
    font-size: 13px;
	font-weight: bold;
	font-family:Arial;
	color:#003366;
	background: url('../images/p_tileHeader.gif') repeat-x;
}
.cHeadTileRite{
	vertical-align:middle;
	text-align:right;
    font-size: 12px;
	font-weight: bold;
	font-family:Arial;
	color:White;
	background: url('../images/p_tileHeader.gif') repeat-x;
}
.cHeadTileLeft{
	vertical-align:middle;
	text-align:left;
    font-size: 12px;
	font-weight: bold;
	font-family:Arial;
	color:White;
	background: url('../images/p_tileHeader.gif') repeat-x;
}
.cHeadTileCenta{
	vertical-align:middle;
    text-align :center;
	font-size: 12px;
	font-weight: bold;
	font-family:Arial;
	color:White;
	background: url('../images/p_tileHeader.gif') repeat-x;
}
.cFootTile{
	vertical-align:middle;
    font-size: 12px;
	font-family:Arial;
	color:White;
	background: url('../images/hdrbg_p3.gif') repeat-x;
}
.cFootTileRite{
	vertical-align:middle;
	text-align:right;
    font-size: 12px;
	font-family:Arial;
	color:White;
	background: url('../images/p_tileHeader.gif') repeat-x;
}
.cFootTileLeft{
	vertical-align:middle;
	text-align:left;
    font-size: 12px;
	font-family:Arial;
	color:White;
	background: url('../images/hdrbg_p3.gif') repeat-x;
}
.cFootTileCenta{
	vertical-align:middle;
    text-align :center;
	font-size: 12px;
	font-family:Arial;
	color:White;
	background: url('../images/hdrbg_p3.gif') repeat-x;
}
.cTextBoldLeft{
    font-size :13px;
    color:#0066CC ;
    font-family :Tahoma ;
    font-weight: bold;
    vertical-align:top ;
    text-align :left ;
}
.fTileBold16{
    font-family :Arial ;
    font-size :16px ;
    font-weight :bold ;
    color:White ;
    text-align :center ;
}
.fTileBold16{
    font-family :Arial ;
    font-size :16px ;
    font-weight :bold ;
    color:White ;
    text-align :center ;
}
.fTileBold12{
    font-family :Arial ;
    font-size :12px ;
    font-weight :bold ;
    color:White ;
    text-align :center ;
}
.fTileNormal12{
    font-family :Arial ;
    font-size :12px ;
    font-weight:normal ;
    color:White ;
    text-align :center ;
}
.tSubFree{
       width: 100%; 
       padding :0px;
}
.tSubFreeReport{
       width: 100%; 
       padding :20px
}
.tSubWhite{
    width :100%;
    background-color :#FFFFFF ;
    border-color : #1F4078;
    border-right:  #1F4078 2px solid;
    border-top:  #1F4078 2px solid; 
    border-left:  #1F4078 2px solid;
    border-bottom:  #1F4078 2px solid;
    color : #1F4078
}
.cTextCenta{
    font-size :12px;
    color:#1F4078 ;
    font-family :Tahoma   ;
    vertical-align :top ;
    text-align :center ;
}
.cHeadCenta{
    font-weight: bold;
    font-size: 12px; 
    vertical-align: middle; 
    color: white;
    font-family: Arial; 
    background-color: #1F4078; 
    text-align:center
}

.tSubGray
{
	width: 98%;
	background-color: #FFFFFF;
	border-color: #999966;
	border-right: #999966 1px solid;
	border-top: #999966 1px solid;
	border-left: #999966 1px solid;
	border-bottom: #999966 1px solid;
	color: #000000;
	margin-bottom: 0.5em;	
}

.tSubGrayLeftSideItem
{
	width: 93%;
	background-color: #FFFFFF;
	border-color: #999966;
	border-right: #999966 1px solid;
	border-top: #999966 1px solid;
	border-left: #999966 1px solid;
	border-bottom: #999966 1px solid;
	color: #000000;
	margin-bottom:0.5em;
}

.cHeadLeft
{
	background-color: #FFFF6A;
	vertical-align: middle;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana;
	color: #343434;
	background: url('../images/p_tileHeader.gif') repeat-x;
}
        
.cTextLeft
{
	font-size: 11px;
	color: #343434;
	font-family: Verdana;
	vertical-align: top;
	text-align: left;
}


/*********************************************************  Modal Popup *********************************************************/

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}

.modalPopup p {
    padding: 5px;
}


/********************************************************************* Others *********************************************************************/

input 
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.inputBox
{
    padding: 1px 1px;
    border: 1px solid #415473;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}

/*.button
{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width:100px;
	text-align: center;
    background-color:Silver;
    border:solid 1px black;
    font-size:9pt;
}*/

/*.label
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: normal;
	color:black;
    font-size: small;
}*/

.Warning
{
	color: Red;
	font-style:normal;
	font-weight:bold;
	font-size:100%
}

.ReportViewer
{
	max-height:500px;
	max-width:700px;
}



/*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin : 0px!important ;
    background-color : inherit ;
    color : windowtext ;
    border : buttonshadow ;
    border-width : 1px ;
    border-style : solid ;
    cursor :all-scroll;
    overflow : auto ;
    height : 200px ;
    font-family : Tahoma ;
    font-size : small ;
    text-align : left ;
    list-style-type : none ;
    }
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
   {
    background-color : #ffff99 ;
    color : black ;
    padding : 1px ;
    }

    /* AutoComplete item */
.autocomplete_listItem
    {
    background-color : window ;
    color : windowtext ;
    padding : 1px ;
   }


/* ==============================   AJAX Tab Controls ==================================  */

.ajax__myTab .ajax__tab_header {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            /*font-weight: bold;*/
            height: 35px;
            color: #000;
            border-left: solid 1px #666666;
            border-bottom: thin 1px #666666;
        }

        .ajax__myTab .ajax__tab_outer {
            padding-right: 4px;
            height: 35px;
            background-color: #003366;
            margin-right: 1px;
            border-right: solid 1px #666666;
            border-top: solid 1px #666666;
        }

        .ajax__myTab .ajax__tab_inner {
            /*padding-left: 4px;
            background-color: #fff;*/
            padding: 3px;
            /*margin-right: 1px;
            margin-left: 1px;
            margin-top: 1px;
            margin-bottom: 1px;*/
            background-color: #f8f6ea;
        }

        .ajax__myTab .ajax__tab_tab {
            height: 20px;
            padding: 4px;
            margin: 0;
        }

        .ajax__myTab .ajax__tab_hover .ajax__tab_outer {
            background-color: #c9c9c9;
        }

        .ajax__myTab .ajax__tab_hover .ajax__tab_inner {
            background-color: #c9c9c9;
        }

        .ajax__myTab .ajax__tab_hover .ajax__tab_tab {
            background-color: #c9c9c9;
            cursor: pointer;
        }

        .ajax__myTab .ajax__tab_active .ajax__tab_outer {
            background-color: #9ebae8;
            border-left: solid 1px #999999;
        }

        .ajax__myTab .ajax__tab_active .ajax__tab_inner {
            background-color: #9ebae8;
        }

        .ajax__myTab .ajax__tab_active .ajax__tab_tab {
            background-color: #9ebae8;
            cursor: inherit;
        }

        .ajax__myTab .ajax__tab_body {
            border: 1px solid #666666;
            padding: 3px;
            background-color: #ffffff;
        }

        .ajax__myTab .ajax__tab_disabled {
            color: Gray;
        }