<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="20.1.0" targetFramework="net48" />
  <package id="bootstrap" version="5.3.7" targetFramework="net48" />
  <package id="Bootstrap.v3.Datetimepicker.CSS" version="4.17.49" targetFramework="net48" />
  <package id="FusionCharts.Visualization" version="1.0.3" targetFramework="net48" />
  <package id="jQuery" version="3.7.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Moment.js" version="2.30.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="23.9.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>