<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="MailServer" value="spdc-smtp1.africa-me" />
    <add key="MailUsername" value="mail username " />
    <add key="MailPassword" value="mail password" />
    <add key="MailFrom" value="isaac.bejide" />
    <add key="EnableErrorLogEmail" value="true" />
    <add key="ErrorLogEmail" value="isaac.bejide" />
    <add key="SiteName" value="Business Improvement and Production Excellence" />
    <add key="SiteName.FieldVisit" value="SEPCiN(Offshore/Onshore Asset) PEC and Field Visit Request Form" />
    <add key="SiteName.BI500" value="Bright Ideas Portal" />
    <add key="SiteName.CRP" value="Cost Reduction Portal" />
    <add key="SiteName.14DayContract" value="UIO: 14 Day Contract" />
    <add key="SiteName.ManHour" value="Initiative Management Framework" />
    <add key="SiteName.FlareWaiver" value="Flare Waiver - UIO-G Flaring/GOR Control Waiver" />
    <add key="SiteName.Lean" value="UIOG CI Projects Dashboard" />
    <add key="SiteName.PDR" value="Production Daily Report" />
    <add key="SiteName.PDCC" value="Production Cost Performance and Transparency" />
    <add key="DevelopmentEnvironment" value="phc-v-01010" />
    <add key="siteHostName" value="http://sww.scin.cpdms/pec" />
    <add key="cpdms.adminName" value="Isaac Bejide" />
    <add key="cpdms.AdminMail" value="isaac.bejide" />
    <add key="cpdms.AdminExt" value="+2348070224772" />
    <add key="cpdms.AdminUserName" value="NGIBE6" />
    <add key="cpdms.BccAdmin" value="False" />
    <add key="production.adminName" value="Oni Kolawole" />
    <add key="production.AdminMail" value="kolawole.oni" />
    <add key="production.AdminExt" value="+2348070239017" />
    <add key="production.AdminUserName" value="WAKON0" />
    <add key="production.SupportName" value="Isaac, Bejide" />
    <add key="production.SupportMail" value="Isaac.Bejide" />
    <add key="production.SupportExt" value="+2348070224772" />
    <add key="production.SupportUserName" value="NGIBE6" />
    <add key="production.BIFunctionalAccount" value="Business-Improvement" />
    <!--<add key="IWH" value="COMPLETE_STAFF_DETAILS"/>-->
    <add key="IWH" value="COMPLETE_STAFF_DETAILS@IWH_LINK.WORLD" />
    <add key="DBLINK" value="@CPDMS_DLINK" />
    <!-- CBI Dashboard -->
    <add key="CBIMenu" value="CBIDashBoardProvider" />
    <!-- Field visit -->
    <add key="AdminMenu.FieldVisit" value="adminProviderFieldVisit" />
    <add key="UserMenu.FieldVisit" value="userProviderFieldVisit" />
    <add key="ConfigurationMenu.FieldVisit" value="configurationProviderFieldVisit" />
    <!-- Man Hour -->
    <add key="AdminMenu.ManHour" value="adminProviderManHour" />
    <add key="UserMenu.ManHour" value="userProviderManHour" />
    <!-- Flare Waiver -->
    <add key="AdminMenu.FlareWaiver" value="adminProviderFlrWaiver" />
    <add key="ApproverMenu.FlareWaiver" value="approverProviderFlrWaiver" />
    <add key="InitiatorMenu.FlareWaiver" value="initiatorProviderFlrWaiver" />
    <!-- BI 500 -->
    <add key="AdminMenu.BI500" value="adminProviderBI500" />
    <add key="CorporateMenu.BI500" value="corporateProviderBI500" />
    <add key="UserMenu.BI500" value="UserProviderBI500" />
    <add key="appNameId" value="Facility Field Visit" />
    <add key="AppNameId.FlareWaiver" value="UIO-G Flaring/GOR Control Waiver" />
    <add key="CopyRight" value="Copyright © 2012 Production Site Visit" />
    <add key="footerInfo" value="PEC - Field Visit Management System" />
    <!-- Cost Reduction -->
    <add key="AdminMenu.CostReduction" value="adminProviderCostReduction" />
    <add key="CorporateMenu.CostReduction" value="corporateProviderCostReduction" />
    <add key="UserMenu.CostReduction" value="UserProviderCostReduction" />
    <!--  14 Day Contract -->
    <add key="AdminMenu.14DayContract" value="adminProvider14DayContract" />
    <add key="UserMenu.14DayContract" value="UserProvider14DayContract" />
    <!--  PDCC -->
    <add key="AdminMenu.Pdcc" value="adminProviderPdcc" />
    <add key="UserMenu.Pdcc" value="UserProviderPdcc" />
    <!-- Front Line Barrer Management -->
    <add key="AdminMenu.FLBM" value="adminProviderFLBM" />
    <add key="UserMenu.FLBM" value="userProviderFLBM" />
    <!-- Red Flag -->
    <add key="AdminMenu.RedFlag" value="adminProviderRedFlag" />
    <add key="UserMenu.RedFlag" value="userProviderRedFlag" />
    <!-- Lean projects new update -->
    <add key="LeanfooterInfo" value="UIOG CI Projects and Dashboard" />
    <add key="LeanCopyRight" value="Copyright © 2014 CI Dashboard" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/FieldVisit" value="32545;True;7240;1;-8588154597617785152" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="FilePath" value="~/App/PDCC/Data" />
    <!--<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />-->
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.Skin" value="Silk" />
    <add key="DBResetHours" value="2" />
    <add key="Telerik.Web.UI.StyleSheetFolders" value="~/Common/Styles/; ~/Common/Highlighter/styles" />
    <add key="Telerik.Web.UI.ScriptFolders" value="~/Common/Highlighter/scripts;" />
    <!--<add key="Telerik.Web.Examples.EditorExamples.ItemHandler" value="~/Editor/Examples/DBFileBrowserContentProvider/Handler.ashx"/>-->
    <add key="Telerik.QSF.DeviceInfoTrackingKey" value="Enabled" />
    <add key="YoutubeApiKey" value="AIzaSyAcNpaOb0SMLQ1ye0cIhwnf-3QOsmVlqvY" />
    <add key="Telerik.Web.UI.RenderMode" value="Lightweight" />
  </appSettings>
  <connectionStrings>
    <add name="productionConnectionString" connectionString="Data Source=10.34.155.171:1648/BUSAPP.WORLD; Password=PeC7cpdm; User ID=PEC_PROD;" providerName="Oracle.ManagedDataAccess.Client" />
    <!--<add name="productionConnectionString" connectionString="Data Source=PHC-N-S00157:1648/BUSAPP.WORLD; PASSWORD=PeC7cpdm; USER ID=PEC_PROD;" providerName="System.Data.OracleClient" />-->
    <add name="ECConnectionString" connectionString="Data Source=PHC-N-S00151:1648/UIGDECP.WORLD; Password=ZB3Dbg_RaWther7bY; User ID=GASFLARE_SPDC;" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="Oracle.DataAccess.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="Telerik.Windows.Documents.Flow, Version=2016.3.1021.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7"/>
        <add assembly="Telerik.Windows.Documents.Core, Version=2016.3.1021.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7"/>
        <add assembly="Telerik.Windows.Documents.Spreadsheet, Version=2016.3.1021.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml, Version=2016.3.1021.40, Culture=neutral, PublicKeyToken=5803CFA389C90CE7"/>-->
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
      <codeSubDirectories>
        <add directoryName="CS" />
        <add directoryName="VB" />
      </codeSubDirectories>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows">
      <forms loginUrl="Default.aspx?Msg=nLg" name="authOpex" timeout="180" path="/" defaultUrl="Default.aspx?Msg=sWb" slidingExpiration="true" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <!--<sessionState mode="InProc" cookieName="cookField" timeout="180"/>-->
    <sessionState mode="InProc" cookieless="false" timeout="180" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <siteMap defaultProvider="adminProviderFieldVisit">
      <providers>
        <clear />
        <!-- CBI Dash Board -->
        <add name="CBIDashBoardProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" />
        <!-- Field visit -->
        <add name="userProviderFieldVisit" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuUserFieldVisit.sitemap" />
        <add name="adminProviderFieldVisit" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdminFieldVisit.sitemap" />
        <add name="configurationProviderFieldVisit" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuConfigurationFieldVisit.sitemap" />
        <!-- Man Hour -->
        <add name="userProviderManHour" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuUserManHour.sitemap" />
        <add name="adminProviderManHour" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdminManHour.sitemap" />
        <!-- BI 500 -->
        <add name="adminProviderBI500" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdminBI500.sitemap" />
        <add name="corporateProviderBI500" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuCorporateBI500.sitemap" />
        <add name="UserProviderBI500" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuUserBI500.sitemap" />
        <!-- CostReduction -->
        <add name="adminProviderCostReduction" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdminCostReduction.sitemap" />
        <add name="corporateProviderCostReduction" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuCorporateCostReduction.sitemap" />
        <add name="UserProviderCostReduction" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuUserCostReduction.sitemap" />
        <!-- Flare Waiver -->
        <add name="adminProviderFlrWaiver" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdminFlrWaiver.sitemap" />
        <add name="approverProviderFlrWaiver" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuApproverFlrWaiver.sitemap" />
        <add name="initiatorProviderFlrWaiver" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuInitiatorFlrWaiver.sitemap" />
        <!--  14 Day Contract -->
        <add name="adminProvider14DayContract" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdmin14DayContract.sitemap" />
        <add name="UserProvider14DayContract" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuUser14DayContract.sitemap" />
        <!--  PD Cost Challenge -->
        <add name="adminProviderPdcc" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdminPdcc.sitemap" />
        <add name="UserProviderPdcc" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuUserPdcc.sitemap" />
        <!-- Front Line Barrer Management -->
        <add name="adminProviderFLBM" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdminFLBM.sitemap" />
        <add name="userProviderFLBM" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuUserFLBM.sitemap" />
        <!-- Red Flag -->
        <add name="adminProviderRedFlag" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdminRedFlag.sitemap" />
        <add name="userProviderRedFlag" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuUserRedFlag.sitemap" />
      </providers>
    </siteMap>
    <pages controlRenderingCompatibilityVersion="3.5" validateRequest="false" enableEventValidation="false" styleSheetTheme="DataWebControls" viewStateEncryptionMode="Always" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="uc1" tagName="Search4User" src="~/UserControls/userFinder/Search4User.ascx" />
        <add tagPrefix="uc" tagName="Search4LocalUser" src="~/UserControls/userFinder/Search4LocalUser.ascx" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <!--<add tagPrefix="ManHr" tagName="resUtil" src="~/App/ManHour/UserControl/ResourceUtilisation.ascx" />-->
        <add tagPrefix="ManHr" tagName="Detlutil" src="~/App/ManHour/UserControl/DetailResourceUtilisation.ascx" />
        <add tagPrefix="ManHr" tagName="Rprt" src="~/App/ManHour/UserControl/Report.ascx" />
        <add tagPrefix="ManHr" tagName="MyInits" src="~/App/ManHour/UserControl/MyInitiatives.ascx" />
        <add tagPrefix="ManHr" tagName="MyInitsTrViw" src="~/App/ManHour/UserControl/MyInitiativesTreeView.ascx" />
        <add tagPrefix="ManHr" tagName="aprvInit" src="~/App/ManHour/UserControl/ApproveSupport.ascx" />
        <add tagPrefix="ManHr" tagName="DistOuFacDis" src="~/App/ManHour/UserControl/DistrictFacilitiesOU.ascx" />
        <add tagPrefix="app" tagName="Search" src="~/App/FlareWaiver/UserControl/Search/Search4User.ascx" />
        <!--<add tagPrefix="app" tagName="AddUser" src="~/App/FlareWaiver/UserControl/AddUser.ascx" />-->
        <add tagPrefix="app" tagName="oRequestDetails" src="~/App/FlareWaiver/UserControl/oRequestDetails.ascx" />
        <add tagPrefix="app" tagName="oRequests" src="~/App/FlareWaiver/UserControl/oRequests.ascx" />
        <add tagPrefix="app" tagName="dateControl" src="~/App/FlareWaiver/UserControl/dateControl.ascx" />
        <add tagPrefix="app" tagName="TimePicker" src="~/App/FlareWaiver/UserControl/TimePicker.ascx" />
        <add tagPrefix="app" tagName="supportContact" src="~/App/FlareWaiver/UserControl/supportContact.ascx" />
        <add tagPrefix="fldVst" tagName="activityHeader" src="~/App/FieldVisit/UserControl/SEPCIN/activityHeader.ascx" />
        <add tagPrefix="fldVst" tagName="activityTimeLineSummary" src="~/App/FieldVisit/UserControl/SEPCIN/activityTimeLineSummary.ascx" />
        <add tagPrefix="fldVst" tagName="AllPECRequestsApproved" src="~/App/FieldVisit/UserControl/SEPCIN/AllPECRequestsApproved.ascx" />
        <add tagPrefix="fldVst" tagName="AllPECRequestsPendingApproval" src="~/App/FieldVisit/UserControl/SEPCIN/AllPECRequestsPendingApproval.ascx" />
        <add tagPrefix="fldVst" tagName="Approvers" src="~/App/FieldVisit/UserControl/SEPCIN/Approvers.ascx" />
        <add tagPrefix="fldVst" tagName="locFieldLocations" src="~/App/FieldVisit/UserControl/SEPCIN/locFieldLocations.ascx" />
        <add tagPrefix="fldVst" tagName="MyApprovedPECRequests" src="~/App/FieldVisit/UserControl/SEPCIN/MyApprovedPECRequests.ascx" />
        <add tagPrefix="fldVst" tagName="MyPecRequests" src="~/App/FieldVisit/UserControl/SEPCIN/MyPecRequests.ascx" />
        <add tagPrefix="fldVst" tagName="PecRequestInfo" src="~/App/FieldVisit/UserControl/SEPCIN/PecRequestInfo.ascx" />
        <add tagPrefix="fldVst" tagName="personnelInfoDetails" src="~/App/FieldVisit/UserControl/SEPCIN/personnelInfoDetails.ascx" />
        <add tagPrefix="fldVst" tagName="personnelInformationList" src="~/App/FieldVisit/UserControl/SEPCIN/personnelInformationList.ascx" />
        <add tagPrefix="fldVst" tagName="statusSelectorControl" src="~/App/FieldVisit/UserControl/SEPCIN/statusSelectorControl.ascx" />
        <add tagPrefix="fldVst" tagName="vendorCallOutInfo" src="~/App/FieldVisit/UserControl/SEPCIN/vendorCallOutInfo.ascx" />
        <add tagPrefix="fldVst" tagName="allRequestsApproved" src="~/App/FieldVisit/UserControl/FPEC/allRequestsApproved.ascx" />
        <add tagPrefix="fldVst" tagName="allRequestsPendingApproval" src="~/App/FieldVisit/UserControl/FPEC/allRequestsPendingApproval.ascx" />
        <add tagPrefix="fldVst" tagName="approvedFieldVisitRequests" src="~/App/FieldVisit/UserControl/FPEC/approvedFieldVisitRequests.ascx" />
        <add tagPrefix="fldVst" tagName="approvedFieldVisitRequestsByApprover" src="~/App/FieldVisit/UserControl/FPEC/approvedFieldVisitRequestsByApprover.ascx" />
        <add tagPrefix="fldVst" tagName="approvedFieldVisitRequestsBySuperintendentApprover" src="~/App/FieldVisit/UserControl/FPEC/approvedFieldVisitRequestsBySuperintendentApprover.ascx" />
        <add tagPrefix="fldVst" tagName="approverSignoff" src="~/App/FieldVisit/UserControl/FPEC/approverSignoff.ascx" />
        <add tagPrefix="fldVst" tagName="fieldVisitInformation" src="~/App/FieldVisit/UserControl/FPEC/fieldVisitInformation.ascx" />
        <add tagPrefix="fldVst" tagName="FieldVisitQuestionaire" src="~/App/FieldVisit/UserControl/FPEC/FieldVisitQuestionaire.ascx" />
        <add tagPrefix="fldVst" tagName="fieldVisitRequestsPendingMyApproval" src="~/App/FieldVisit/UserControl/FPEC/fieldVisitRequestsPendingMyApproval.ascx" />
        <add tagPrefix="fldVst" tagName="fieldVisitRequestsPendingSuperintendentApproval" src="~/App/FieldVisit/UserControl/FPEC/fieldVisitRequestsPendingSuperintendentApproval.ascx" />
        <add tagPrefix="fldVst" tagName="pendingFieldVisitRequests" src="~/App/FieldVisit/UserControl/FPEC/pendingFieldVisitRequests.ascx" />
        <add tagPrefix="fldVst" tagName="viwFunctionalAcctMembers" src="~/App/FieldVisit/UserControl/FPEC/viwFunctionalAcctMembers.ascx" />
        <add tagPrefix="bi500" tagName="oPndgRqst" src="~/App/BI500/UserControl/oPendingRequests.ascx" />
        <add tagPrefix="bi500" tagName="oAprdgRqst" src="~/App/BI500/UserControl/oApprovedRequests.ascx" />
        <add tagPrefix="bi500" tagName="oMyPndgRqst" src="~/App/BI500/UserControl/oMyPendingRequests.ascx" />
        <add tagPrefix="bi500" tagName="oMyAprdgRqst" src="~/App/BI500/UserControl/oMyApprovedRequests.ascx" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" />
      <add verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
      <add verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add verb="*" path="*.json" validate="false" type="JSONHandler" />
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0" executionTimeout="180" maxRequestLength="1048576" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ChartImage.axd_*" path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.SpellCheckHandler.axd_*" path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.DialogHandler.aspx_*" path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" preCondition="integratedMode" />
      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode" />
      <add name="Telerik.Web.UI.WebResource.axd_*" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" preCondition="integratedMode" />
      <add name="JSON" path="*.json" verb="*" type="JSONHandler" />
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Apps\RPIMails" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="11.0.0.0" href="file:///C:/Program%20Files/Microsoft%20Visual%20Studio%2011.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.1.0" newVersion="5.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
</configuration>