<%@ Master Language="C#" AutoEventWireup="true" CodeFile="siteMaster.master.cs" Inherits="MasterPages_siteMaster" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register Src="~/App/FlareWaiver/UserControl/applicationMenu.ascx" TagName="applicationMenu" TagPrefix="uc1" %>
<%@ Register Src="~/UserControls/supportContact.ascx" TagName="supportContact" TagPrefix="uc3" %>
<%@ Register Src="~/App/FlareWaiver/UserControl/adminMenu.ascx" TagName="adminMenu" TagPrefix="uc2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head" runat="server">

    <!-- Please, jQuery must be loaded first -->
    <script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script language="javascript" type="text/javascript" src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Bootstrap 5 CSS -->
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />



    <title></title>
    <asp:ContentPlaceHolder ID="headId" runat="server">
    </asp:ContentPlaceHolder>

    <link href="../CSS/navigationStyle.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/FlareWaiverStyles.css" type="text/css" rel="stylesheet" media="screen" />
    <script language="javascript" type="text/javascript" src="../Scripts/MyScript.js"></script>

    <script language="javascript" type="text/javascript">

        (function (global, undefined) {
            var widthTextBox, heightTextBox, leftTextBox, topTextBox;

            function widthTextBox_load(sender, args) {
                widthTextBox = sender;
            }
            function heightTextBox_load(sender, args) {
                heightTextBox = sender;
            }
            function leftTextBox_load(sender, args) {
                leftTextBox = sender;
            }
            function topTextBox_load(sender, args) {
                topTextBox = sender;
            }

            function openRadWin() {
                var wndw = radopen("FlareWaiverRequest.aspx", "AddRequest", 1300, 600);
                wndw.set_visibleStatusbar(false);
                wndw.Center();
            }

            global.openRadWin = openRadWin;
            global.widthTextBox_load = widthTextBox_load;
            global.heightTextBox_load = heightTextBox_load;
            global.leftTextBox_load = leftTextBox_load;
            global.topTextBox_load = topTextBox_load;
        })(window);

    </script>

    

</head>
<body>
    <form id="form2" runat="server">
        <!-- ScriptManager stays -->
        <telerik:RadScriptManager ID="Radscriptmanager1" runat="server"></telerik:RadScriptManager>
        <div class="container-fluid">

            <!-- HEADER -->

            <div class="col-md-12 mb-2"> 
                <div class="row"> 
                    <div class="col-md-2"> 
                        <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/LOGO.png" Style="z-index: 102; width:150px; left: 5px; position: absolute;" /> 
                    </div> 
                    <div class="title col-md-6"> 
                        <asp:Label ID="lblSiteName" runat="server" Text=""></asp:Label> 
                    </div>
                    <div class="col-md-4"> Welcome <asp:Label ID="loggedinUserLabel" runat="server" ForeColor="Black"></asp:Label> | 
                        <asp:LinkButton ID="lnkHomePage" runat="server" PostBackUrl="~/App/FlareWaiver/taskPage.aspx" ValidationGroup="MasterMaster">Home Page</asp:LinkButton> 
                        <br /> 
                        <asp:Label ID="dateLabel" runat="server" ForeColor="Black" Text=""></asp:Label> | 
                        <asp:HyperLink ID="logoutHyperLink" runat="server" NavigateUrl="~/Default.aspx">Logout</asp:HyperLink> 
                        <br /> 
                        <asp:Label ID="loggedInLabel" runat="server" Font-Bold="true" ForeColor="Red" Text="Logged in as:"></asp:Label> 
                        <asp:Label ID="lblRole" runat="server" Font-Bold="true" ForeColor="Red" Text=""></asp:Label> 
                    </div> 
                </div> 

                <!-- Navigation --> 
                <div id="navigation" class="d-flex justify-content-between align-items-start mt-1"> 
             
                    <!-- Left: Button --> 
                    <div> 
                        <telerik:RadButton RenderMode="Lightweight" runat="server" AutoPostBack="false" OnClientClicked="openRadWin" Text="Raise Flare Waiver Request" /> 
                    </div> 
                    <!-- Right: Search Box --> 
                    <div> 
                        <telerik:RadComboBox RenderMode="Lightweight" ID="ddlSearch" runat="server" 
                            Height="400" Width="500px" Font-Size="10pt" DropDownWidth="500" 
                            EmptyMessage="Search for request..." AutoPostBack="true" EnableLoadOnDemand="true" Filter="Contains" 
                            OnItemsRequested="ddlSearch_ItemsRequested" Skin="Office2010Silver" OnSelectedIndexChanged="ddlSearch_SelectedIndexChanged"> 
                            <HeaderTemplate> 
                                <table style="width: 490px; font-size: 9pt" cellspacing="0" cellpadding="0"> 
                                    <tr> 
                                        <td style="width: 100px; font-weight: bold;">Request Number</td> 
                                        <td style="width: 390px; font-weight: bold;">Reason For Flaring</td> 
                                    </tr> 
                                </table> 
                            </HeaderTemplate> 
                            <ItemTemplate> 
                                <table style="width: 490px; font-size: 9pt" cellspacing="0" cellpadding="0"> 
                                    <tr> 
                                        <td style="width: 100px;"><%# DataBinder.Eval(Container, "Text") %></td> 
                                        <td style="width: 390px;"><%# DataBinder.Eval(Container, "Attributes['REASON']") %></td> 
                                    </tr> 
                                </table> 
                            </ItemTemplate> 
                        </telerik:RadComboBox> 
                    </div> 
                </div> 
                <div id="navigation1"></div> 
                <div id="navigation2"></div> 
            </div>
            <!-- CONTENT AREA -->
            <div id="page-wrapper">

                <!-- Sidebar (Fixed Left) -->
                <div id="sidebar">
                    <uc2:adminMenu ID="adminMenu1" runat="server" />
                </div>

                <!-- Main Content (Scrollable) -->
                <div id="content-area">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
                </div>

            </div>


            <!-- FOOTER -->
            <div class="row">
                <div class="col-12 footer mt-4">
                    <div id="footer" class="d-flex justify-content-between">
                        <span>Production Services - UIO-G Flaring/GOR Control Waiver</span>
                        <span>Copyright © 2014 RCiN Production Business Improvement</span>
                    </div>
                </div>
            </div>

        </div>

    </form>
</body>


</html>
